.gfield_label {
	font-size: 18px !important;
	font-weight: 300 !important;
}

.ginput_container input[type="text"],
.ginput_container input[type="password"],
.ginput_container input[type="email"],
.ginput_container input[type="tel"],
.ginput_container select,
.ginput_container textarea {
	border: 1px solid #eee !important;
	border-radius: 12px !important;
	box-shadow: none !important;
	margin-bottom: 14px !important;
	min-height: 42px !important;
	padding: 5px 10px !important;
}

.gform_wrapper .gform_fields {
	grid-row-gap: 12px !important;
}

.ginput_container select {
	color: var(--c-dark-grey) !important;
	padding-top: 0 !important;
}

.gform_wrapper input[type="button"],
.gform_wrapper .button {
	background-color: var(--c-light-blue) !important;
	border: 1px solid var(--c-light-blue) !important;
	border-radius: 42px !important;
	color: var(--c-text) !important;
	float: none !important;
	font-size: 16px !important;
	font-weight: 300 !important;
	margin-bottom: 20px;
	min-height: 50px !important;
	min-width: 160px !important;
	padding: 0 !important;
	text-align: center;
	text-decoration: none !important;
	transition: background 300ms ease-in !important;
}

.gf_progressbar_percentage {
	background-color: var(--c-green) !important;
}
