.woo-single-product__container {
	padding: 0 16px;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme))
	.woocommerce-breadcrumb {
	color: var(--wp--preset--color--black);
	font-size: 1rem;
	font-weight: 500;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme))
	.woocommerce-breadcrumb
	a {
	color: var(--wp--preset--color--black);
	text-decoration: none;
}

.woocommerce-product-details__short-description {
	font-size: 16px;
	line-height: 24px;
}

.woocommerce div.product .product_title,
.woocommerce-product-rating,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme))
	div.product
	span.price,
.woocommerce-product-details__short-description,
.woocommerce div.product form.cart {
	margin-bottom: 32px;
	margin-top: 0;
}

.woocommerce .woocommerce-product-rating .star-rating {
	color: var(--wp--preset--color--yellow, #e5d68c);
	font-size: 20px;
	margin-top: 0;
}

.woocommerce div.product .woocommerce-product-rating {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.woocommerce-review-link {
	color: var(--wp--preset--color--black);
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme))
	div.product
	span.price {
	color: var(--wp--preset--color--black);
	font-size: 20px;
	font-weight: 500;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
	#respond
	input#submit.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
	a.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
	button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
	input.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
	.woocommerce
	#respond
	input#submit.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
	.woocommerce
	a.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
	.woocommerce
	button.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles))
	.woocommerce
	input.button.alt {
	background-color: var(--wp--preset--color--light-blue);
	border-radius: 42px;
	color: var(--wp--preset--color--black);
	font-weight: 300;
	padding: 14px 10px;
	width: 160px;
}

.woocommerce div.product form.cart {
	display: flex;
	align-items: center;
	gap: 22px;
}

/* .woocommerce .quantity .qty {
	border: 1px solid var(--wp--preset--color--black);
	border-radius: 60px;
	padding: 10px 20px;
} */

/* .woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	float: none;
} */

@media only screen and (--bp-large-2) {
	.woo-single-product__container {
		padding: 0 100px;
	}
}
