.woocommerce-checkout .page-container .woocommerce {
	max-width: 1240px;
	margin: auto;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	width: calc(50% - 2.5px);
}

form.checkout
	.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: 42px;
	padding: 0 29px;
}

form.checkout .select2-container .select2-selection--single {
	height: 42px;
}
form.checkout
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 40px;
}

.woocommerce form.checkout .form-row input.input-text,
.woocommerce form.checkout .form-row textarea {
	padding: 0 29px;
}

.woocommerce form.checkout .woocommerce-input-wrapper > input {
	margin-bottom: 0px !important;
	color: var(--Dark-Grey, #5e5e5e);
	font-family: "Sofia Pro";
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}

.woocommerce form.checkout .form-row {
	margin: 0 0 3px;
	padding: 2.5px;
}

.woocommerce form.checkout .checkout-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.woocommerce form.checkout .checkout-right,
.woocommerce form.checkout .checkout-left {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 15px;
}

div.woocommerce-checkout-review-order-table-new {
	border-radius: 12px;
	padding: 15px 0px 55px;
	margin: 17px 0 0;
}
div.woocommerce-checkout-review-order-table-new h4 {
	text-align: center;
	margin: 0 0 29px;
}
div.woocommerce-checkout-review-order-table-new
	table.woocommerce-checkout-review-order-table-new {
	clear: both;
	border: none;
	display: block;
	margin: 0 -1px 29px 0;
}
div.woocommerce-checkout-review-order-table-new
	table.woocommerce-checkout-review-order-table-new
	th,
div.woocommerce-checkout-review-order-table-new
	table.woocommerce-checkout-review-order-table-new
	td {
	border-top: none;
}
table.woocommerce-checkout-review-order-table-new .product-thumbnail img {
	max-width: 110px;
	height: 107px;
	object-fit: contain;
	margin-top: 3px;
}

.woocommerce
	table.shop_table.woocommerce-checkout-review-order-table-new
	td.divider-line {
	padding: 0;
}
.woocommerce
	table.shop_table.woocommerce-checkout-review-order-table-new
	td.divider-line
	hr {
	margin: 19px 0 22px;
	border: none;
	border-top: 1px solid var(--Grey, #ebebeb);
}
table.woocommerce-checkout-review-order-table-new .product-name br {
	line-height: 0;
	display: block;
}
.woocommerce table.shop_table.woocommerce-checkout-review-order-table-new td {
	padding: 6px 12px;
}
.woocommerce
	table.shop_table.woocommerce-checkout-review-order-table-new
	.product-subtotal {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: right;
}
.woocommerce
	table.shop_table.woocommerce-checkout-review-order-table-new
	.product-name {
	color: var(--Black, #121212);
	font-family: "Sofia Pro";
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	vertical-align: top;
}
table.woocommerce-checkout-review-order-table-new
	.product-name
	.quantity-field {
	border: 1px solid var(--Green, #627479);
	border-radius: 40px;
	height: 32px;
	display: inline-block;
	margin: 18px 0;
}
table.woocommerce-checkout-review-order-table-new
	.product-name
	.quantity-field
	input {
	width: auto;
	pointer-events: none;
	color: #000;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
table.woocommerce-checkout-review-order-table-new
	.product-name
	.quantity-field
	input,
table.woocommerce-checkout-review-order-table-new
	.product-name
	.quantity-field
	button {
	border: none;
	background: transparent;
	width: 24px;
	height: 30px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
}

table.woocommerce-checkout-review-order-table-new
	.product-name
	.quantity-field
	button
	span {
	font-size: 23px;
	position: relative;
	top: -1px;
	font-weight: 100;
}
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	#place_order,
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	.apply_coupon {
	width: 180px;
	max-width: 100%;
	padding: 14px 10px;
	justify-content: center;
	align-items: center;
	color: var(--Black, #121212);
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 125%; /* 22.4px */
	min-height: 1px;
	box-sizing: border-box;
}

.woocommerce
	form.checkout
	div.woocommerce-checkout-review-order-table-new
	.woocommerce-input-wrapper
	> input#coupon_code {
	padding: 8px 16px;
	height: 52px;
}
.woocommerce
	form.checkout
	div.woocommerce-checkout-review-order-table-new
	table
	tfoot
	tr
	td
	label
	span,
.woocommerce
	form.checkout
	div.woocommerce-checkout-review-order-table-new
	table
	tfoot
	tr
	td
	label
	bdi {
	font-weight: 300;
}
.woocommerce
	form.checkout
	div.woocommerce-checkout-review-order-table-new
	table
	tfoot
	tr
	> td {
	text-align: right;
}
.woocommerce
	form.checkout
	div.woocommerce-checkout-review-order-table-new
	table
	tfoot
	tr
	th,
.woocommerce
	form.checkout
	div.woocommerce-checkout-review-order-table-new
	table
	tfoot
	tr
	td {
	font-weight: 300;
	line-height: normal;
}
.woocommerce
	form.checkout
	div.woocommerce-checkout-review-order-table-new
	table
	tfoot
	tr:last-child
	th,
.woocommerce
	form.checkout
	div.woocommerce-checkout-review-order-table-new
	table
	tfoot
	tr:last-child
	td {
	font-weight: 700;
	font-size: 18px;
}
.woocommerce ul#shipping_method li:last-child {
	margin-bottom: 0;
}
.woocommerce-checkout #payment {
	background: transparent;
}
.woocommerce-checkout #payment ul.payment_methods {
	padding: 0;
	border-bottom: none;
}
.woocommerce-checkout #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::after,
.woocommerce-checkout #payment ul.payment_methods::after,
.woocommerce-checkout
	#payment
	ul.payment_methods
	li:not(.woocommerce-notice)::after {
	display: none;
}
.woocommerce-checkout #payment div.payment_box {
	background: transparent;
}

.woocommerce-checkout #payment div.payment_box {
	padding: 0;
}
.payment_method_woocommerce_payments fieldset,
.payment_method_woocommerce_payments fieldset > div {
	border: none;
	padding: 0 !important;
}
.checkout-left .custom-checkboxes {
	margin-top: 63px;
}
.checkout-left .custom-checkboxes p.form-row {
	padding-left: 0;
	padding-right: 0;
}

.woocommerce form .form-row .required {
	color: inherit;
}

@media all and (max-width: 767px) {
	div.woocommerce-checkout-review-order-table-new h4,
	div.woocommerce-checkout-review-order-table-new table tbody {
		display: none;
	}
	.checkout-right {
		border-top: 1px solid var(--Grey, #ebebeb);
	}
	.woocommerce form .form-row-first,
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-first,
	.woocommerce-page form .form-row-last {
		width: 100%;
	}
	.woocommerce
		form.checkout
		div.woocommerce-checkout-review-order-table-new
		table
		tfoot
		tr
		> th {
		padding-left: 0;
	}
	.woocommerce
		form.checkout
		div.woocommerce-checkout-review-order-table-new
		table
		tfoot
		tr
		> td {
		padding-right: 0;
	}
	.woocommerce-checkout .page-container {
		padding: 0 30px;
	}
}

@media all and (min-width: 768px) {
	.woocommerce form.checkout .checkout-right,
	.woocommerce form.checkout .checkout-left {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	/* .woocommerce form.checkout .checkout-right {
		padding-left: 2%;
	} */
	div.woocommerce-checkout-review-order-table-new {
		padding: 46px 15px 50px;
		background: #f9f9f9;
		position: sticky;
		top: calc(32px + 10px);
	}
}
@media all and (min-width: 880px) {
	.woocommerce form.checkout .checkout-right {
		padding-left: 5%;
	}
}
@media all and (min-width: 1050px) {
	.woocommerce form.checkout .checkout-right {
		padding-left: 10.5515%;
	}
}

body.woocommerce-checkout .woocommerce form .form-row label {
	/*line-height: 1.9;*/
}
body.woocommerce-checkout .wp-block-heading.has-text-align-center {
	margin-block-start: 0.8em;
	margin-block-end: 0.63em;
}
body.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
	margin-top: -2px;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #eeeeee;
	border-radius: 12px;
}
.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	color: var(--Dark-Grey, #5e5e5e);
}
.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	right: 25px;
	top: 0;
}
.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	border: solid black;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

label[for="billing_country"] {
	margin-bottom: 4px;
}
label[for="billing_address_1"] {
	margin-bottom: 4px;
	margin-top: 5px;
}
.woocommerce
	form.checkout
	.form-row
	input.input-text[name="billing_address_2"] {
	margin-top: 5px;
}
.woocommerce
	form.checkout
	.form-row
	input.input-text[name="shipping_address_2"] {
	margin-top: 4px;
}

.woocommerce form.checkout .form-row#billing_address_2_field {
	margin: 0 0 1px;
}
.woocommerce form.checkout .form-row#billing_city_field label {
	margin-bottom: 3px;
}
.woocommerce form.checkout .form-row#billing_city_field {
	margin: 0 0 2px;
}
.woocommerce form.checkout .form-row#billing_state_field label {
	margin-bottom: 4px;
}
.woocommerce form.checkout .form-row#billing_state_field {
	margin: 0 0 5px;
}
.woocommerce form.checkout .form-row#billing_postcode_field label {
	margin: 0 0 4px;
}
.woocommerce form.checkout .form-row#billing_email_field label {
	margin: 0 0 3px;
}
.woocommerce form.checkout .form-row#billing_phone_field label {
	margin: 0 0 4px;
}
#order_review_heading {
	margin-top: 63px;
}
#ship-to-different-address h4 {
	margin-top: 69px;
	margin-bottom: 28px;
}

#ship-to-different-address {
	margin-bottom: 10px;
}
.woocommerce
	form.checkout
	.woocommerce-shipping-fields__field-wrapper
	.form-row
	label {
	margin: 0 0 4px;
}
.woocommerce
	form.checkout
	.woocommerce-shipping-fields__field-wrapper
	.form-row#shipping_address_2_field {
	margin: 0 0 1px;
}
.woocommerce
	form.checkout
	.woocommerce-shipping-fields__field-wrapper
	.form-row#shipping_address_1_field
	label {
	margin: 6px 0 4px;
}
.woocommerce
	form.checkout
	.woocommerce-shipping-fields__field-wrapper
	.form-row
	label[for="shipping_state"] {
	margin-top: -2px;
}

.custom-checkboxes p:last-child {
	margin-top: 5px;
	margin-bottom: 75px;
}
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	.checkout_coupon
	.form-row-first
	input::placeholder,
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	.checkout_coupon
	.form-row-first
	input {
	color: var(--Black, #121212);
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	.checkout_coupon {
	margin-bottom: 7px;
}
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	.checkout_coupon
	.form-row-first {
	width: calc(100% - 122px);
}
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	.checkout_coupon
	.form-row-last {
	width: 117px;
}
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	.apply_coupon {
	width: 112px;
	padding: 14px 10px !important;
	box-sizing: border-box;
	min-width: 1px !important;
	position: relative;
	top: 1px;
}
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	tfoot
	td,
.woocommerce
	form.checkout
	.checkout-right
	div.woocommerce-checkout-review-order-table-new
	tfoot
	th {
	padding-bottom: 5px;
}
