.rh-login-page__photo-container {
	align-items: center;
	display: flex;
	justify-content: center;
	line-height: 0;
	min-height: 700px;
}

@media (--bp-until-medium) {
	.rh-login-page__photo-container {
		min-height: 100px;
		order: 2;
		padding: 65px 20px;
	}

	.rh-login-page__image {
		max-height: 100px;
	}
}

.woocommerce .rh-login-page form.login,
.woocommerce .rh-login-page form.register {
	border: 0;
}

.rh-login-page__form-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rh-login-page__form-container > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 440px;
}

.rh-login-page .woocommerce-Input {
	border: 1px solid #eee;
	border-radius: 12px;
	margin-bottom: 14px !important;
	min-height: 42px;
	padding: 5px 10px;
}

.rh-login-page .form-row label {
	font-size: 18px;
	line-height: 27px;
}

.rh-login-page .woocommerce-form-login__submit {
	box-sizing: border-box;
	margin: 12px 0 22px !important;
	width: 100%;
}

.woocommerce-form__remeberme-and-forgot-password {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.rh-login-page__register-link {
	margin-top: 52px;
	text-align: center;
}

.woocommerce .rh-login-page .woocommerce-form-row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.woocommerce-LostPassword a {
	color: var(--c-text);
	font-weight: 500;
	text-decoration: none;
}

.rh-login-page__register-link a {
	color: var(--c-text);
	font-weight: 500;
	text-decoration: none;
}

.login-page-wrapper .woocommerce-form-row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.login-page-wrapper .woocommerce-form-row label {
	margin-bottom: 6px;
}

.login-page-wrapper .rh-button {
	margin-top: 50px;
}

