node_modules
bower_components
release
vendor
phpunit.xml
.idea
uploads
upgrade
cache
!plugins/rogershood-quiz
!plugins/rogershood-reviews
!plugins/rogershood-points
plugins
themes/RogersHood-theme/node_modules/
themes/RogersHood-theme/vendor
log

# Project Files
dist
backstop_data


# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.vscode/launch.json
tasks.json

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
/debug.log
composer.lock
package-lock.json
