.benefits-section__container {
	background-color: var(--wp--preset--color--light-beige);
	padding: 80px 16px;
	text-align: center;
}

.sub-heading-benefits {
	margin-bottom: 16px;
	text-transform: uppercase;
}

.heading-benefits {
	line-height: 50px;
	margin: 0 auto;
	max-width: 736px;
}

.benefits-card-container {
	margin-top: 64px;
	text-align: left;
}

.benefit-card-item {
	background-color: var(--wp--preset--color--white);
	border-radius: 12px;
	list-style: none;
	padding: 20px;
}

.benefit-card-heading {
	font-weight: 300;
	text-transform: uppercase;
}

@media only screen and (min-width: 639px) {
	.splide.is-initialized:not(.is-active) .benefit-card-list.splide__list {
		display: grid;
		gap: 26px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (--bp-large-2) {
	.benefits-section__container {
		padding: 100px 65px 100px 65px;
	}

	.benefits-card-container .splide__track {
		overflow: unset;
	}

	.splide.is-initialized:not(.is-active) .benefit-card-list.splide__list {
		grid-template-columns: repeat(4, 1fr);
	}

	.benefits-card-container
		.splide__track
		.benefit-card-list
		.benefit-card-item:nth-child(1) {
		transform: rotate(-2.481deg);
	}

	.benefits-card-container
		.splide__track
		.benefit-card-list
		.benefit-card-item:nth-child(2) {
		transform: rotate(3.886deg);
	}

	.benefits-card-container
		.splide__track
		.benefit-card-list
		.benefit-card-item:nth-child(3) {
		transform: rotate(-1.965deg);
	}

	.benefits-card-container
		.splide__track
		.benefit-card-list
		.benefit-card-item:nth-child(4) {
		transform: rotate(1.299deg);
	}
}
