.hero-slider-inner-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 35px 40px;
}

.hero-slider-inner-content-text {
	text-align: center;
}

.hero-slider-section-final-title {
	margin-top: 0;
}

.hero-product-slider {
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 1.5s cubic-bezier(0.2, 1, 0.2, 1);
	transform-origin: bottom;
}

.hero-slider-img {
	border-radius: 12px;
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	z-index: 1;
}

.product-slider-shadow {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 57%,
		rgba(0, 0, 0, 0.6) 77.25%
	);
	border-radius: 12px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.hero-slider-text-container {
	bottom: 18px;
	color: var(--wp--preset--color--white);
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 8;
}

.hero-slider-text-container h5,
.hero-slider-text-container div:nth-child(1) {
	margin-bottom: 8px;
	margin-top: 0;
}

@media only screen and (--bp-large-2) {
	.hero-slider-inner-content {
		align-items: start;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 100px;
	}
	.wysig-hero-slider__container {
		font-size: 18px;
	}
	.hero-slider-inner-swiper-container {
		padding-left: 50px;
	}

	.swiper-wrapper {
		align-items: flex-end;
	}

	.product-slider-shadow,
	.hero-slider-text-container {
		visibility: hidden;
		opacity: 0;
		transition: 1.5s cubic-bezier(0.2, 1, 0.2, 1);
	}

	.hero-product-slider:hover {
		height: calc(100% + 75px);
		transform: translateY(-75px);
	}

	.hero-product-slider:hover .product-slider-shadow,
	.hero-product-slider:hover .hero-slider-text-container {
		visibility: visible;
		opacity: 1;
	}

	.hero-slider-inner-content-text {
		text-align: left;
	}

	.hero-slider-inner-swiper-container .swiper {
		height: 422px;
	}
}
