.product-includes__topics {
	align-items: center;
	display: flex;
	grid-gap: 12px;
	margin-bottom: 35px;
	overflow: auto;
	padding-bottom: 15px;
}

@media (--bp-medium) {
	.product-includes__topics {
		justify-content: center;
	}
}

.product-includes__product {
	border-radius: 12px;
}

.product-includes__product__row {
	background: var(--wp--preset--color--white);
	border-radius: 12px;
}

.product-includes__product__image {
	aspect-ratio: 358 / 304;
	border-radius: 12px 12px 0 0;
	height: 100% !important;
	object-fit: cover;
	width: 100%;
}

@media (--bp-medium) {
	.product-includes__product__content {
		border-radius: 12px 0 0 12px;
		order: 1;
	}

	.product-includes__product__image-container {
		border-radius: 0 12px 12px 0;
		order: 2;
	}

	.product-includes__product__image {
		border-radius: 0 12px 12px 0;
	}
}

.product-includes__product__section-title .remove-on-mobile {
	display: none;
}

@media (--bp-medium) {
	.product-includes__product__section-title .remove-on-mobile {
		display: inline-block;
	}
}

.product-includes__product__content__inner {
	padding: 40px;
}

@media (--bp-medium) {
	.product-includes__product__content__inner {
		padding: 80px;
	}
}

.product-includes__product__title {
	font-size: 20px;
	margin-bottom: 32px;
}

@media (--bp-medium) {
	.product-includes__product__title {
		font-family: var(--wp--preset--font-family--scilla);
		font-size: 30px;
	}
}

@media (--bp-medium) {
	.product-includes__product__section-title {
		margin-bottom: 12px;
	}

	.product-includes__product__section {
		margin-bottom: 24px;
	}
}

.product-includes__topic {
	background: var(--c-white);
	border-radius: 48px;
	cursor: pointer;
	flex-shrink: 0;
	padding: 10px 20px;
}

.product-includes__topic.is-active {
	background: var(--c-green);
	color: var(--c-white);
}

@media (--bp-medium) {
	.faq-block__question-icon.product-includes__product__section__icon {
		display: none;
	}

	.faq-block__question.product-includes__product__section {
		border-top: none;
	}

	.faq-block__question.product-includes__product__section:last-of-type {
		border-bottom: none;
	}

	.faq-block__question.product-includes__product__section .faq-block__question-answer {
		grid-template-rows: auto;
	}
}
