.top-search-inner {
	grid-column-start: 2;
	grid-column-end: span 10;
}

.top-search-title {
	margin-top: 0;
	margin-bottom: 16px;
}

.wysig-top-search__container {
	font-size: 20px;
	margin-bottom: 35px;
}

.search-form button[type="submit"].button-rh span {
	display: none;
}

.search-form button[type="submit"].button-rh::after {
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-1.96701e-07 5C-2.02497e-07 5.13259 0.052675 5.25975 0.146436 5.3535C0.240199 5.44726 0.367368 5.49993 0.499968 5.49993L12.2922 5.49993L8.14548 8.64549C8.0516 8.73936 7.99886 8.86668 7.99886 8.99944C7.99886 9.1322 8.0516 9.25952 8.14548 9.35339C8.23936 9.44726 8.36669 9.5 8.49946 9.5C8.63222 9.5 8.75955 9.44726 8.85343 9.35339L13.8531 5.35395C13.8997 5.30751 13.9366 5.25234 13.9618 5.19161C13.987 5.13087 14 5.06576 14 5C14 4.93424 13.987 4.86913 13.9618 4.80839C13.9366 4.74766 13.8997 4.69249 13.8531 4.64605L8.85344 0.646611C8.80695 0.600129 8.75176 0.563258 8.69103 0.538103C8.63029 0.512947 8.5652 0.5 8.49946 0.5C8.36669 0.5 8.23936 0.552737 8.14548 0.646611C8.0516 0.740484 7.99886 0.867804 7.99886 1.00056C7.99886 1.13332 8.0516 1.26064 8.14548 1.35451L12.2922 4.50007L0.499968 4.50007C0.367369 4.50007 0.240199 4.55274 0.146437 4.6465C0.0526751 4.74025 -1.90906e-07 4.86741 -1.96701e-07 5Z' fill='white'/%3E%3C/svg%3E%0A");
	content: "";
	height: 12px;
	width: 18px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;
}

@media only screen and (--bp-large) {
	.search-form button[type="submit"].button-rh {
		border-radius: 100%;
		padding: 10px;
		width: 23px;
	}
}

@media only screen and (--bp-large-2) {
	.top-search-inner {
		grid-column-start: 4;
		grid-column-end: span 6;
	}

	.search-form button[type="submit"].button-rh span {
		display: block;
	}

	.search-form button[type="submit"].button-rh::after {
		display: none;
	}
}
