.top-search-inner {
	grid-column-start: 2;
	grid-column-end: span 10;
}

.top-search-title {
	margin-top: 0;
	margin-bottom: 16px;
}

.wysig-top-search__container {
	font-size: 20px;
	margin-bottom: 35px;
}
