/**
 * TenUpTheme: Shared Styles.
 * These styles are shared between the front end and admin
 * https://project-website.tld
 *
 */

#tinymce p {
	margin-left: 16px;
}

#tinymce ul {
	padding-left: 40px;
	list-style: disc;
}
