/*
 * Colors
 * Use theme.json to establish colors
 * https://developer.wordpress.org/block-editor/developers/themes/theme-json/
 * This file can be used to establish color overrides
 * or exceptions to the theme.json use case
 */

/* :root {
	--c-light-blue: #000;
	--c-beige: #fff;
	--c-green: #627479;
	--c-light-beige: #F2F1EF;
	--c-dark-grey: #5E5E5E;
	--c-white: #fff;
	--c-black: #121212;
	--c-yellow: #e5d68c;
} */


:root {
	--c-white: #fff;
	--c-black: #000;
	--c-dark-grey: #5e5e5e;
	--c-off-black: #5c5c5c;


	--cart-background-beige: #F9F9F9;
	--blue-background: #e0eaf7;
	--c-category-fab-background: #e0eaf7;
}

.bg-blue {
	background-color: var(--blue-background);
}

.bg-beige {
	background-color: var(--cart-background-beige);
}

.bg-white {
	background: var(--c-white);
}

.bg-gradient-blue {
	background: linear-gradient(180deg, #E0EAF7 0%, #C2D1DC 100%);
}

