@import url("reset.css");

@import url("colors.css");

@import url("media-queries.css");

@import url("typography.css");

html {
	font-family: var(--wp--preset--font-family--sofia-pro);
	font-weight: 300;
}

p {
	line-height: 24px;
}

.hidden {
	display: none;
}

.page-container {
	margin: 0 auto;
	max-width: 1440px;
}

.w-full {
	width: 100%;
}

.object-cover {
	object-fit: cover;
}

.list-none {
	list-style: none;
}
