.text-center {
	text-align: center;
}

.ff-scilla {
	font-family: var(--wp--preset--font-family--scilla);
}

.uppercase {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-22 {
	font-size: 22px;
}

.fs-32 {
	font-size: 32px;
}

body {
	-webkit-font-smoothing: antialiased;
}

.br-4 {
	border-radius: 4px;
}

.br-12 {
	border-radius: 12px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-50 {
	margin-bottom: 50px;
}

/* TODO - remove temp-button everywhere*/

.temp-button {
	background: #0a7aff;
	border-radius: 42px;
	color: var(--wp--preset--color--white);
	height: 50px;
	width: 160px;
}
