/*
 * Ensure that we are not overriding the editor styles of the
 * WordPress Components.
 *
 * This is a workaround for: https://github.com/WordPress/gutenberg/issues/10178
 *
 * using :where to prevent the specificity increase of using :not
 */

.button,
.rh-button {
	background-color: var(--wp--preset--color--light-blue) !important;
	border: 1px solid var(--wp--preset--color--light-blue) !important;
	border-radius: 42px !important;
	color: var(--wp--preset--color--black) !important;
	display: inline-block;
	min-height: 50px !important;
	min-width: 160px !important;
	padding: 14px 43.5px !important;
	text-align: center;
	text-decoration: none !important;
	transition: background 300ms ease-in !important;
}

.button:hover,
.rh-button:hover {
	background-color: var(--wp--preset--color--green) !important;
	border: 1px solid var(--wp--preset--color--green) !important;
	color: var(--wp--preset--color--white) !important;
}

button:where(:not(.components-button)) {
	all: unset;
}

.button-rh:where(:not(.components-button)) {
	background-color: var(--wp--preset--color--light-blue);
	border: 1px solid var(--wp--preset--color--light-blue);
	border-radius: 42px;
	color: var(--wp--preset--color--black);
	padding: 14px 43.5px;
	text-decoration: none;
	transition: background 300ms ease-in;
}

.button-rh:hover:where(:not(.components-button)) {
	background-color: var(--wp--preset--color--green);
	border: 1px solid var(--wp--preset--color--green);
	color: var(--wp--preset--color--white);
}
