/*
 * Ensure that we are not overriding the editor styles of the
 * WordPress Components.
 *
 * This is a workaround for: https://github.com/WordPress/gutenberg/issues/10178
 *
 * using :where to prevent the specificity increase of using :not
 */

a:where(:not(.components-external-link)) {
	color: var(--wp--preset--color--green);
	font-weight: 300;
	line-height: 24px;
}

a:where(:not(.components-external-link)):hover {
	text-decoration: none;
}
